/* .taskBox::-webkit-scrollbar {
  width: 15px;
} 

.taskBox::-webkit-scrollbar-track {
  background: none;
}

.taskBox::-webkit-scrollbar-thumb {
  background: rgb(226 232 240);
  border-radius: 8px;
}

.taskBox::-webkit-scrollbar-thumb:hover {
  background: rgb(226 232 240);
} */